.share--theNew {
    color: #888888;
    font-size: 1.125rem;
    font-weight: bold;
}

.friends--share {
    color: #888888;
    font-size: .875rem;
    height: 1rem;
    margin: 2.75rem;
}

.form {
    border: .0625rem #707070;
    font-size: .75rem;
    color: #888888;
}

.field--wrapper {
    display: inline-block;
    text-align: left;
    margin-right: 2.5rem;
}

.form--info {
    width: 21.25rem;
    height: 1.875rem;
}

.btn--send--now {
    color: #888888;
    border: .0625rem solid #707070;
    border-radius: .25rem;
    font-size: 1rem;
    margin: 3.125rem;
    width: 16.5rem;
    height: 2.4375rem;
}