.footer {
    background-color: #707070;
    height: 12.5625rem;
    margin: 0;
    border: .0625rem solid #707070;
    top: 114.25rem;
}

.footer-copyright__text {
    color: #FFFFFF;
    font-weight: lighter;
    margin-top: 3rem;
    padding: .0625rem;
    text-align: center;
    margin: 4rem;
}